.bus-outbound {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1rem;
}
.bus-inbound {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1rem;
    margin: 0 auto;
}

.nav-container {
    width: 1140px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    .font-titile {
        text-align: center;
        font-size: 4rem;
        font-weight: 900;
        color: blue;
        margin-bottom: 0;
    }
    .logo-copyright{
        display: flex;
        margin-top: 2rem;
        justify-content: space-around;
    }
}
.interact-box {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    .stopname {
        padding: 1rem 0;
        border: 2px blue double;
        padding: 0 3rem;
    }
    .time-update {
        padding: 1rem 0;
        border: 2px blue double;
        display: flex;
        justify-content: center;
    }
    .annotation {
        padding: 1rem 0;
        border: 2px blue double;
        display: flex;
        align-items: center;
        justify-content: center;
        .notice {
            align-self: center;
            background-color: red;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
        .font-notice {
            padding-left: 1rem;
            font-size: 1.5rem;
            font-style: oblique;
        }
    }
}
.font-go-back {
    text-align: center;
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(67, 0, 105);
    font-weight: bolder;
}
